<div id="highscores">
		<h2>Highscores</h2>
		Search highscores by name or input a number/range to get the top x highscores. <br>
		Search: 
		<input id="queryHS" type="text" name="queryHS" ng-model="queryHS" ng-change="submit()"><br>
		<div id="highscoretable">
				<h2>{{hitcount}} hits</h2>
				<table>
						<thead>highscores</thead>
						<tbody>
						<tr ng-repeat="hs in resultHS" ng-show="$index < queryHS">
								<td>{{$index + 1}}</td>	
								<td>{{hs.value.name}}</td>	
								<td>{{hs.value.score}}</td>
						</tr>
						</tbody>
				</table>
		</div>
</div>
