<div id="highscores">
	<h2>Highscores</h2>
	Search highscores by name or input a number to get the top x highscores. <br>
	Search: 
	<input id="queryHS" type="text" name="queryHS" ng-model="queryHS">
	<button id="refreshbut"	name="refreshbut" ng-model="refreshbut" ng-click="refreshHS()">Refresh Highscores</button>
	<br>
	<div id="highscoretable">
		<h2>{{hitcount}} hits (showing {{maxhitHS}})</h2>
		<table>
			<thead>highscores</thead>
			<tbody>
			<tr ng-repeat="hs in resultHS | filter:filterHS" ng-show="$index < maxhitHS" width="100">
				<td width="10%">{{$index + 1}}</td>	
				<td width="60%">{{hs.value.name}}</td>	
				<td width="30%">{{hs.value.score}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
